/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body 기본 설정 */
body {
  font-family: 'Noto Sans KR', sans-serif; /* 한글 친화 폰트 */
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /*overflow-y: auto;*/
}

/* React Root의 레이아웃 */
#root {
  width: 430px; /* 모바일 기본 너비 */
  height: 100%; /* 높이는 내용에 따라 조정 */
  border: 1px solid #ccc; /* 외곽선으로 강조 */
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 가벼운 그림자 효과 */
  overflow-y: auto; /* 세로 스크롤 가능 */
}

/* 스크롤 숨김 */
::-webkit-scrollbar {
  display: none;
}
